*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
:root{
    --heading:'Montserrat',
    sans-serif;
}
body{
    font-family: 'Raleway',sans-serif;
    background: rgb(246, 243, 243);
}
img{
    width: 100%;
    }
    
ul{ 
    list-style: none;
}
a{
    text-decoration: none; 
    color: #000;
}
hr{
    width:95vw;
    margin: 0 auto;
}
.top-head{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    background: #000;
    color: aliceblue;
    padding: 20px 30px;
}
.top-head .fas{
    font-size: 2rem;
    cursor:pointer;
}
.times-btn{
    display:none;
}
.nav-bar{
    background:#333 ;

}
.show-nav{
    height:auto;

}
 .nav-bar