 /* body{
    background-color: blanchedalmond;
 } */
 .navbar .navbar-nav .nav-link:hover{
   /* background-color: white; */
   color: white;
   border: 1px solid blue;
   border-radius: 5px;
   /* align-items: center;*/
   /* justify-content: center; */
 }
 .navbar .navbar-nav .nav-link{
  /* background-color: white; */
  color: white;

  /* align-items: center;*/
  /* justify-content: center; */
}

 #mama{
   height: auto;
   width: 15vw;
 }
 #navbarSupportedContent{
   margin-left: 80px;
 }
 .nav-link{
   margin-right: 18px;
   color: aliceblue;
 }
 .navbar{
  background-color:rgb(3, 3, 3);
  font-family: 'Space Mono', monospace;
  font-weight: 500;
 }
 form #searchBt{
font-family: 'Slabo 13px', serif;
 }
 
 .col-sm-12{
  background-color: #d3daef;
  border: 1.2px solid #95a7ddec;
  margin: 2.1px;
  border-radius: 9px;
  display:flex;
  justify-items: center
  
 }
 #newsType{
  color:#000509;
 }
 #newsType h2{
  display: block;
  text-align: center;
  font-family: 'Roboto Serif', serif;
  margin-top: 9px;
  font-weight: 700;
  font-style:oblique;

 }
 #newsType h2:hover{
  color: rgba(7, 7, 247, 0.648);
 }
 #newsdetails{
  display: flex;
  justify-content:center;
  left: auto;
 }
 #newsdetails div{
   color: rgb(0, 0, 0);
   margin: 7px;
 }
 p.text-muted{
  color: #f1f3f5;
  
 }
 .d-block{
  margin-bottom: 40px;
 }
 .carousel-item{
  position: relative;
 }